# OpenAI
OPENAI_API_KEY=sk-...

# Email
EMAIL_USER=tu_email@frezzyks.com
EMAIL_PASS=tu_contraseña

# Shopify
SHOPIFY_SHOP_NAME=tu_tienda
SHOPIFY_ACCESS_TOKEN=shpat_...

# Correos Express
CORREOS_CLIENTE=A82770001
CORREOS_AUTH=QTgyNzcwMDAxX1dTOmdxbllv

# WhatsApp
WHATSAPP_PHONE_ID=tu_phone_id
WHATSAPP_TOKEN=tu_token
